@import '~@angular/material/theming';
@include mat-core();

$mat-hydro: (
  50 : #e0f6ff,
  100 : #b3e8ff,
  200 : #80d8ff,
  300 : #4dc8ff,
  400 : #26bdff,
  500 : #00b1ff,
  600 : #00aaff,
  700 : #00a1ff,
  800 : #0098ff,
  900 : #0088ff,
  A100 : #ffffff,
  A200 : #f2f8ff,
  A400 : #bfdeff,
  A700 : #a6d0ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-geo: (
  50 : #fcf6e8,
  100 : #f7e8c6,
  200 : #f1d9a1,
  300 : #ebca7b,
  400 : #e7be5e,
  500 : #e3b342,
  600 : #e0ac3c,
  700 : #dca333,
  800 : #d89a2b,
  900 : #d08b1d,
  A100 : #ffffff,
  A200 : #ffedd4,
  A400 : #ffd8a1,
  A700 : #ffcd87,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-cryo: (
  50 : #f4fcfc,
  100 : #e3f8f7,
  200 : #d0f4f2,
  300 : #bdf0ed,
  400 : #aeece9,
  500 : #a0e9e5,
  600 : #98e6e2,
  700 : #8ee3de,
  800 : #84dfda,
  900 : #73d9d3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #f0fffe,
  A700 : #d6fffc,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-electro: (
  50 : #f4ebf9,
  100 : #e5cdef,
  200 : #d3abe5,
  300 : #c189db,
  400 : #b470d3,
  500 : #a757cb,
  600 : #9f4fc6,
  700 : #9646be,
  800 : #8c3cb8,
  900 : #7c2cac,
  A100 : #f8eeff,
  A200 : #e4bbff,
  A400 : #d088ff,
  A700 : #c66eff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-anemo: (
  50 : #eefcf8,
  100 : #d5f6ed,
  200 : #b9f1e1,
  300 : #9cebd5,
  400 : #87e6cc,
  500 : #72e2c3,
  600 : #6adfbd,
  700 : #5fdab5,
  800 : #55d6ae,
  900 : #42cfa1,
  A100 : #ffffff,
  A200 : #eefff9,
  A400 : #bbffe8,
  A700 : #a1ffdf,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-pyro: (
  50 : #fff2ec,
  100 : #ffdece,
  200 : #ffc9ae,
  300 : #feb38e,
  400 : #fea275,
  500 : #fe925d,
  600 : #fe8a55,
  700 : #fe7f4b,
  800 : #fe7541,
  900 : #fd6330,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe2da,
  A700 : #ffcec0,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-dendro: (
  50 : #e5f8f1,
  100 : #bdecdc,
  200 : #91e0c5,
  300 : #65d4ad,
  400 : #44ca9c,
  500 : #23c18a,
  600 : #1fbb82,
  700 : #1ab377,
  800 : #15ab6d,
  900 : #0c9e5a,
  A100 : #ccffe5,
  A200 : #99ffcb,
  A400 : #66ffb1,
  A700 : #4cffa4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


